$margins: (
    header-side: 30px
);
$paddings: (
    header-location-sides: 20px,
    header-location-top-bottom: 10px
);
$dark-gray: #E5E4E2;

.header {
    height: 10rem;
    display: flex;
    flex-direction: column;
    width: 100%;   
// how does this work
    // @include desktop-only;
    > img {
        margin: map-get($margins, header-side);
    }
    &__location {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        font-size: 15px;
        background-color: $dark-gray;
        padding: map-get($paddings, header-location-sides) map-get($paddings, header-location-top-bottom)

    }
    // why can't i add this as a child of &__location
    &__location--text {
        margin-left: 10px;
    }
}