$margins: (
    header-side: 30px
);
$paddings: (
    header-location-sides: 20px,
    header-location-top-bottom: 10px
);
$dark-gray: #E5E4E2;

.header {
    height: 10rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;   
    // @include desktop-only;
    > img {
        // display: flex;
        // flex-direction: column-reverse;
        // justify-content: center;
        // height: 40%;
        // width: 50%;
        margin: map-get($margins, header-side);
        // @include heading-shadow($colour-white);
    }
    &__location {
        display: flex;
        flex-direction: row;
        align-content: center;
        gap: 7;
        font-size: 15px;
        background-color: $dark-gray;
        padding: map-get($paddings, header-location-sides) map-get($paddings, header-location-top-bottom)
    }
    // &__location-text {
    //     display: flex;
    //     justify-content: center;
    //     font-size: 15px;
    //     background-color: $dark-gray;
    //     padding: map-get($paddings, header-location-sides) map-get($map: $paddings, $key:header-location-top-bottom )
    // }

}