$margins: (
  header-side: 20px,
);
$paddings: (
  header-location-sides: 15px,
  header-location-top-bottom: 10px,
);

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  > img {
    width: 50%;
    margin: map-get($margins, header-side);
  }
  // how does this work
  @include desktop-only {
    display: flex;
    align-items: center;
    > img {
      width: 20%;
    }
  }
  &__location {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    background-color: $dark-gray;
    padding: map-get($paddings, header-location-sides)
      map-get($paddings, header-location-top-bottom);

    &--text {
      margin-left: 10px;
    }
  }
}
