$margin-for-num: 0px;
$font-size-for-instructions: 15px;
.instructions {
  margin-left: 20px;
  font-size: $font-size-for-instructions;
  &__title {
    font-size: 20px;
  }
  &__step {
    display: flex;
    flex-direction: row;
    justify-content: left;
    @include desktop-only {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  // how to overlay
  &__step--number {
    margin-right: $margin-for-num;
    align-self: center;
    border: solid;
    border-radius: 35px;
    padding: 2px 5px;
    background-color: $colour-primary;
    color: white;
  }
  &__step--text {
    width: 100%;
    border-radius: 20px;
    padding: 20px 40px;
    background-color: $lighter-gray;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  &__step--img {
    color: darken($dark-gray, 45%);
  }
}
