.menu {
  position: relative;
  background-color: $lighter-gray;
  z-index: 1;
  padding: 20px 10px 5px 10px;
  &__title {
    // margin-top: -80px;
    border-top-left-radius: 15%;
  }
  &__dish-list span {
    list-style-type: none;
  }
}
