
// .nav {
//     padding-right: $layout-margin;
//     flex: 2 1 auto;
//     text-align: right;
//     &__link {
//         display: inline;
//         font-size: 3rem;
//         padding-left: 1.5rem;
//         & a{
//         text-decoration: none;
//         color: $colour-accent;
//         }
//         &--active {
//             color: $colour-secondary;
//             &:hover{
//                 cursor:default;
//                 color: $colour-secondary;
//             }
//         }
//         & a:hover{
//             color: $colour-white;
//         }
//     }
// }
$nav-st-font-size: 15px;
.nav {
    // can i use the variable from header here instead? 
    background-color: lighten(#E5E4E2, 5%);
    display: flex;
        flex-direction: column;
        align-items: center;
    &__h1 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__p {
        font-size: $nav-st-font-size;
        margin-left: 40px;
        margin-right: 40px;
 
    }
    &__bttn {
        font-size: $nav-st-font-size;
        margin-top: 40px;
        margin-bottom: 40px;
        border: solid;
        border-radius: 35px;
        padding: 15px 25px;
        background-image: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
        color: white;


    }
}