$nav-st-font-size: 15px;
.nav {
  background-color: $lighter-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  p {
    font-size: $nav-st-font-size;
    color: darken($lighter-gray, 45%);
    text-align: center;
    @include desktop-only {
      br {
        display: none;
      }
    }
  }
  &__bttn {
    font-size: $nav-st-font-size;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 35px;
    padding: 15px 25px;
    background-image: linear-gradient(
      to bottom right,
      $colour-secondary,
      $colour-primary
    );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
    transition: all 450ms;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
      background-image: linear-gradient(
        to bottom right,
        lighten($colour-secondary, 2%),
        lighten($colour-primary, 2%)
      );
    }
  }
  @include desktop-only {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }
}
