.restaurant {
  display: flex;
  flex-direction: column;
  background-color: $lighter-gray;
  padding-top: 20px;
  padding-left: 20px;
  //    how do I get restaurants on separate header
  @include desktop-only {
    display: flex;
    flex-direction: row;
  }
  &__restaurantChoice {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    width: 95%;
    margin-bottom: 20px;
    @include desktop-only {
      height: 40%;
      margin-right: 20px;
    }
    &--div {
      display: flex;
      flex-direction: row;
    }
    &--card {
      text-decoration: none;
      color: black;
    }
    &--img {
      width: 100%;
      border-top-right-radius: 5%;
      border-top-left-radius: 5%;
    }
    &--title {
      text-decoration: none;
      padding-left: 9px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    &--city {
      text-decoration: none;
      padding-left: 10px;
      padding-bottom: 10px;
      font-size: 12px;
    }
    &--icon {
      margin-left: 175px;
      font-size: 25px;
      margin-top: 9px;
      border-width: 2px;
      @include desktop-only {
        margin-left: 145px;
      }
    }
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
