*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto" "Shirkhand";
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header > img {
  width: 50%;
  margin: 20px;
}
@media screen and (min-width: 970px) {
  .header {
    display: flex;
    align-items: center;
  }
  .header > img {
    width: 20%;
  }
}
.header__location {
  width: 94%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  font-size: 15px;
  background-color: #E5E4E2;
  padding: 15px 10px;
}
@media screen and (min-width: 970px) {
  .header__location {
    width: 100%;
  }
}
.header__location--text {
  margin-left: 10px;
}

.nav {
  background-color: #f1f1ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav p {
  font-size: 15px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
@media screen and (min-width: 970px) {
  .nav p br {
    display: none;
  }
}
.nav__bttn {
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 35px;
  padding: 15px 25px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
}

.instructions {
  margin-left: 20px;
  font-size: 15px;
}
.instructions__title {
  font-size: 20px;
}
.instructions__step {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
}
@media screen and (min-width: 970px) {
  .instructions__step {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.instructions__step--number {
  margin-right: 0px;
  align-self: center;
  border-radius: 35px;
  padding: 2px 5px;
  background-color: #9356DC;
  color: white;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: -8px;
  font-size: 12px;
}
@media screen and (min-width: 970px) {
  .instructions__step--number {
    left: 80px;
  }
}
.instructions__step--text {
  width: 75%;
  border-radius: 20px;
  padding: 20px 40px;
  background-color: #f1f1ef;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.instructions__step--icon {
  margin-left: -10px;
  margin-right: 20px;
  color: #77736b;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #f1f1ef;
  padding-top: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 970px) {
  .restaurant {
    display: flex;
    flex-direction: row;
  }
}
.restaurant__restaurantChoice {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  width: 95%;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 970px) {
  .restaurant__restaurantChoice {
    height: 40%;
    margin-right: 20px;
  }
}
.restaurant__restaurantChoice--div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant__restaurantChoice--img {
  width: 100%;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}
.restaurant__restaurantChoice--title {
  padding-left: 9px;
  padding-bottom: 5px;
  padding-top: 10px;
}
.restaurant__restaurantChoice--city {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
.restaurant__restaurantChoice--icon {
  margin-top: 15px;
  margin-right: 25px;
  font-size: 20px;
  border: none;
}
.restaurant__restaurantChoice--icon:hover {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.restaurant__title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer {
  background-color: #434343;
  color: white;
  font-weight: bold;
  padding-left: 20px;
}
.footer__title {
  font-family: "Shrikhand";
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__links {
  list-style-type: none;
  padding-bottom: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__links li {
  margin-bottom: 8px;
  color: white;
  text-decoration: none;
}
.footer__links a {
  color: white;
  text-decoration: none;
}
.footer__links i {
  padding-right: 5px;
}

/*# sourceMappingURL=style.css.map */
