$breakpoints: (
  mobile: 375px,
  tablet: 970px,
  dekstop: 1025px,
);
@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
